html * {
  font-family: helvetica, sans-serif;
  color: seashell;
}
html{
  background-color: black;
  opacity: 0.9;
  align-items: center;
}

  /*Heading*/

.header{
  display: flex;
  position: fixed;
  border-bottom: 1px solid seashell;
  width: 100%;
  height: 69px;
  flex-wrap: wrap;
  align-items: center;
  z-index: 2;
  background-color: black;
  top: 0;
  font-size: 22px;
}
.logo img {
  height: 50px;
}

.logo {
  padding-left: 10px;
}

span{
  padding: 20px 10px;
  display: inline-block;
  margin-right: 10px;

}

nav {
  flex-grow: 1;
  text-align: right;
}

/*Mission Section*/

.mish {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  margin: 4px auto;
  display:flex;
  justify-content:center;
  align-items: center;
}
.mish .txt {
 display: block;
 justify-content: center;
 align-items: center;
 background-color: black;
 flex-grow: 1;
 text-align: center;
}
h4 {
  font-size: 22px;

}
.container{
  display: flex;
  max-width: 1000px;
}
.tea{
  text-align: center;
}
.container2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
}
.pix{
  display: block;
  margin: 20px;
}
.pix img{
  display: block;
  height: 200px;
  width: 300px;
}
.pix h4{
  text-align: center;
}
#tom{
  padding-top: 70px;
}
#steep{
  margin: 0;
}
.container2 h4{
  margin:0;
  margin-top: 10px;
}
.loc{
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 1200px;
  margin: auto;
}
h1 {
  text-align: center;
  margin: 0 auto;
}
